# Xcode
xcuserdata/
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/

# Xcode project state
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
DerivedData/

# Local tooling
.serena/
